<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BINGE_DATE_AD_UNIT_ID</key>
	<string>$(BINGE_DATE_AD_UNIT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~3347511713</string>
	<key>TMDB_API_KEY</key>
	<string>$(TMDB_API_KEY)</string>
	<key>BINGE_DATE_API_URL</key>
	<string>$(BINGE_DATE_API_URL)</string>

	<!-- Google Sign-In -->
	<key>GIDClientID</key>
	<string>900772945104-qjlpmeh88mahtkimq3otg2n5ousuopb4.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.900772945104-qjlpmeh88mahtkimq3otg2n5ousuopb4</string>
			</array>
		</dict>
	</array>

	<!-- Yerel geliştirme için HTTP'ye izin -->
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
